@using Interxarifado.Models
@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Responsaveis";
}

<div class="row">
        <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-dark "><a href="/Login/Home">Pagina Inicial</a></li>
            <li class="list-group-item list-group-item-action list-group-item-dark "><a href="/Estoque/IndexEstoque">Todos Produtos</a></li> 
            <li class="list-group-item list-group-item-action list-group-item-dark active" aria-current="true"><a href="/Responsavel/IndexResponsavel">Todos Responsaveis</a></li>
            <li class="list-group-item list-group-item-action list-group-item-dark "><a href="/Funcionario/IndexFuncionario">Todos Funcionarios</a></li>
            <li class="list-group-item list-group-item-action list-group-item-dark "><a href="/Requisicao/IndexRequisicao">Todas Requisições</a></li>
            <li class="list-group-item list-group-item-action list-group-item-dark"><a href="/Setores/IndexSetores">Todos Setores</a></li>
        </ul>
    </div>
    
    <div class="col-10">

        <table class="table table-hover">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Salario</th>
                <th>Numero do Concurso</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            @foreach (ResponsavelSetor p in Model)
            {
                <tr>
                    <td>@p.nome</td>
                    <td>@p.cpf</td>
                    <td>@p.email</td>
                    <td>@p.salario</td>
                    <td>@p.nmrConcurso</td>
                    <td>
                        <a href="/Responsavel/DeleteResponsavel?id=@p.id">Apagar</a>
                        <a href="/Responsavel/UpdateResponsavel?id=@p.id">Editar</a>
                    </td>
                </tr>
            }
        </table>

        <a href="/Responsavel/CreateResponsavel" class="btn btn-primary">Adicionar</a>

    </div>
</div>